.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

select {
  width: 300px;
  padding: 5px;
  margin-bottom: 30px;

  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

.button-container {
  display: flex;
  gap: 20px;
}

button {
  padding: 5px 10px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #90ace0; 
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.button:hover {
  color: rgb(181, 34, 34);
}

input {
  width: 200px;
  padding: 5px;
  margin-top: 10px;
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}
